<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .hide {
            display: none;
        }

        .containerCanvas {
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            height: 400px;
            align-items: center;
        }

        .containerCanvas #myChart {
            margin-top: 10px;
            animation: chartAnimation 3s ease-in-out 1;
        }

        @keyframes chartAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .containerBottone {
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            height: 400px;
        }
 

        #myButton {
            margin-left: 45%;
            margin-top: 20px;
            transition: all 100ms ease-in-out;
            animation: buttonAnimation 3s ease-in-out 1;
        }

        @keyframes buttonAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .containerLogo {
            margin-left: auto;
            margin-right: auto;
        }

        #pressureIcon {
            width: 40px;
            height: 40px;
            margin-left: 50%;
            margin-top: 5%;
            animation: iconAnimation 1s ease-in-out 1;
        }

    </style>
</head>
<body>
    <div id="test">
        {{#each result}}
            <p class="hide" name="pression">{{this.Pressione}}</p>
            <p class="hide" name="ora">{{this.Ora}}</p>
        {{/each}}
    </div>
    <p class="hide" id="numberOfIteration">{{lengthOfIDs}}</p>
    {{#each secondResult}}
        <p class="hide" name="min">{{this.minPress}}</p>
        <p class="hide" name="max">{{this.maxPress}}</p>
    {{/each}}
    <div class="containerIcon">
        <img id="pressureIcon" src="/pressione.png" alt="icona pressione">
    </div>
    <div class="containerCanvas">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    <form action="/" method="get">
        <input type="submit" value="Home Page" id="myButton" class="btn btn-primary">
    </form>
    <script>
        let pressione = document.getElementsByName("pression");
        let ora = document.getElementsByName("ora");
        let min = document.getElementsByName("min");
        let max = document.getElementsByName("max");
        var xData = [];
        var yData = [];

        console.log("min: ", min);
        

        let minVal = min[0].innerText;
        let maxVal = min[0].innerText;
        console.log("min value: ", minVal);

        for(let i = 0; i < {{lengthOfIDs}}; i++) {
            //ciclo per recuperare la pressione
            console.log(pressione[i].innerText);
            yData.push(pressione[i].innerText);
        }

        for(let i = 0; i < {{lengthOfIDs}}; i++) {
            //ciclo per recuperare le ore
            console.log(pressione[i].innerText);
            xData.push(ora[i].innerText);
        }

        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xData,
                datasets: [{
                    label: "pressione",
                    data: yData,
                    borderColor: ['yellow'],
                    borderWidth: 1,
                    fill: 0,
                    responsive: true,
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            scaleOverride: true,
                            min: parseInt(minVal)-10,
                            max: parseInt(maxVal)+10,
                            stepSize: 50
                        }
                    }]
                }
            }
        });


    </script>
</body>
</html>