<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .hide {
            display: none;
        }

        .containerChart {
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            height: 400px;
            align-items: center;
        }

        .containerChart #myChart {
            margin-top: 20%;
            width: 600px;
            height: 300px;
            animation: chartAnimation 3s ease-in-out 1;
        }

        @keyframes chartAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .containerLogo {
            margin-left: auto;
            margin-right: auto;
        }

        #tempIcon {
            width: 40px;
            height: 40px;
            margin-left: 50%;
            margin-top: 5%;
            animation: iconAnimation 1s ease-in-out 1;
        }

        @keyframes iconAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        #myButton {
            margin-left: 45%;
            margin-top: 20px;
            transition: all 100ms ease-in-out;
            animation: buttonAnimation 3s ease-in-out 1;
        }

        @keyframes buttonAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

    </style>
</head>
<body>
    <div id="test">
        {{#each result}}
            <p class="hide" name="" id="temp">{{this.Temperatura}}</p>
            <p class="hide" name="ora" id="ora">{{this.Ora}}</p>
        {{/each}}
    </div>
    <p class="hide" id="numberOfIteration">{{lengthOfIDs}}</p>
    {{#each secRes}}
        <p class="hide" name="min">{{this.minTemp}}</p>
        <p class="hide" name="max">{{this.maxTemp}}</p>
    {{/each}}
    <div class="colntainerLogo">
        <img id="tempIcon" src="/temperatura.png" alt="tempIcon">
    </div>
    <div class="containerChart">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    <form action="/" method="get">
        <input type="submit" value="Home Page" id="myButton" class="btn btn-primary">
    </form>
    <script>
        //console.log(document.getElementsByTagName("p"));
        let temp = document.getElementsByName("");
        let ora = document.getElementsByName("ora");
        let minTemp = document.getElementsByName("min");
        let maxTemp = document.getElementsByName("max");
        var yData = [];
        var xData = [];

        let minTempVal = minTemp[0].innerText;
        let maxTempVal = maxTemp[0].innerText;


        let diff = (parseInt(maxTempVal) + 1) - (parseInt(minTempVal) - 1);
        
        let ultimateMin = parseInt(minTempVal) - 1;
        let ultimateMax = parseInt(maxTempVal) + 1;

        let startValue = parseFloat(minTempVal) - 1

        //console.log(temp[5].innerText)
        console.log("ora: ", ora);
        console.log({{lengthOfIDs}});

        console.log("min temp: ", minTempVal);
        console.log("max temp: ", maxTempVal);

        console.log("diff: ", diff);

        for(var i = 0; i < {{lengthOfIDs}}; i++) {  //ciclo per recuperare i valori della temperatura
            console.log(temp[i].innerText);
            yData.push(temp[i].innerText);
        }

        for(var i = 0; i < {{lengthOfIDs}}; i++) {
            console.log(ora[i].innerText);
            xData.push(ora[i].innerText);
        }

        console.log("temp data: ", yData);
        console.log("ora data: ", xData);

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xData,
                datasets: [{
                    label: "temperature",
                    data: yData,
                    borderColor: ['red'],
                    borderWidth: 1,
                    fill: 0,
                    responsive: true,
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        scaleOverride: true,
                        max: ultimateMax,
                        min: ultimateMin,
                        //stepSize: parseInt(diff)/2,
                        stepSize: 0.5,
                    }]
                }
            }
        })

    </script>
</body>
</html>