<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .hide {
            display: none;
        }

        .containerChart {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            height: 400px;
        }

        .containerChart #myChart {
            margin-top: 20%;
            animation: chartAnimation 3s ease-in-out 1;
        }

        @keyframes chartAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        #myButton {
            margin-left: 45%;
            margin-top: 20px;
            transition: all 100ms ease-in-out;
            animation: buttonAnimation 3s ease-in-out 1;
        }

        @keyframes buttonAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .containerLogo {
            margin-left: auto;
            margin-right: auto;
        }

        #humidIcon {
            width: 80px;
            height: 80px;
            margin-left: 50%;
            margin-top: 5%;
            animation: iconAnimation 1s ease-in-out 1;
        }

        @keyframes iconAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

    </style>
</head>
<body>
    {{#each result}}
        <p class="hide" name="humid">{{this.Umidita}}</p>
        <p class="hide" name="ora">{{this.Ora}}</p>
    {{/each}}

    <p class="hide" id="numberOfIteration">{{lengthOfIDs}}</p>

    <div class="containerLogo">
        <img src="/umidita.jpg" alt="" id="humidIcon">
    </div>
    
    <div class="containerChart">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>

    

    <form action="/" method="get">
        <input type="submit" id="myButton" value="Home Page" class="btn btn-primary">
    </form>

</body>
<script>
    let humid = document.getElementsByName("humid");
    let ora = document.getElementsByName("ora");
    var yData = [];
    var xData = [];

    console.log({{lengthOfIDs}});

    for(var i = 0; i < {{lengthOfIDs}}; i++) {
        //ciclo per recuperare i valori dell'umidità
        console.log(humid[i].innerText);
        yData.push(humid[i].innerText);
    }

    for(var i = 0; i < {{lengthOfIDs}}; i++) {
        //ciclo per recuperare i valori dell'ora
        console.log(ora[i].innerText);
        xData.push(ora[i].innerText);
    }

    console.log("humid data: ", yData);
    console.log("ora data: ", xData);

    var ctx = document.getElementById("myChart").getContext('2d')

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: xData,
            datasets: [{
                label: "humidity",
                data: yData,
                borderColor: ['green'],
                borderWidth: 1,
                fill: 0,
                responsive: true,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        scaleOverride: true,
                        beginAtZero: true,
                        max: 100,
                        stepValue: 0.5
                    }
                }]
            }
        }
    })

</script>
</html>