<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        @import url('https://fonts.googleapis.com/css?family=Roboto');

        .MyImg {
            width: 60px;
            height: 60px;
            transition: all 200ms ease-in-out;
            animation: imgAnimation 1s ease-in-out 1;
        }


        @keyframes imgAnimation {
            from {
                width: 0px;
                height: 0px;
            }
            to {
                width: 60px;
                height: 60px;
            }
        }



        .container {
            width: 100%;
            height: 100%;
        }

        .container #tabAnimated {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }

        #image {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            width: 15%;
            padding-left: 10%;
            padding-bottom: 5%;
        }



        body {
            background-image:url('sfondo.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            transition: all 100ms ease-in-out;
            animation: bodyAnimation 1s ease-in-out 1;
            width: 100%;
            height: 100%;
        }

        @keyframes bodyAnimation {
            from {
                background-size: 0%;
            }
            to {
                background-size: 100%;
            }
        }


        .title {
            font-size: 30pt;
            font-family: Roboto;
            transition: all 100ms ease-in-out;
            animation: titleAnim 1s ease-in-out 1;
        }

        @keyframes titleAnim {
            from {
                font-size: 0pt;
            }
            to {
                font-size: 30pt;
            }
        }

        .containerLogo {
            width: 100%;
            height: auto;
            text-align: right;
        }

        #myLogo {
            width: 50px;
            height: 50px;
            padding-bottom: 40%;
            padding-top: 40%;
            padding-left: 70%;
        }

        .containerShowed {
            background-color: white;
            box-shadow: 2px 10px 10px 2px;
            padding-right: 10px;
        }


        .contenuto {
            color: red;
            font-size: 40pt;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            animation: titoloAnim 1s ease-in-out 1;
        }

        @keyframes titoloAnim {
            from {
                font-size: 0pt;
            }
            to {
                size: 40pt;
            }
        }


        .myFooter {
            /*background-color: rgba(223, 192, 15, 0.904);*/
            margin: 0;
            /*padding-top: 3%;*/
            padding-bottom: 0%;
            height: 100px;
        }

        .myTable {
            width: 100%;
            animation: tableAnimation 1s ease-out 1;
        }

        @keyframes tableAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .vuoto {
            width: 15%;
        }

        .instagram {
            width: 10%;
            align-items: center;
        }

        .facebook {
            width: 10%;
        }

        .insta {
            height: 50px;
            width: 50px;
        }

        .facebook {
            height: 50px;
            width: 50px;
        }

        .phrase {
            width: 35%;
            text-align: left;
            padding-left: 0%
        }


    </style>
</head>
<body>
    <div class="container">
        <div class="titolo">
            <b><p class="contenuto">CONDOR METEO</p> </b>
        </div>
        <table id="tabAnimated" class="containerShowed">
            <tr>
                <td><a class="myLink" href="/graph/temp"><img class="MyImg" src="temperatura.png" alt="tempIcon"></a></td>
                <td><b><p class="title">&nbsp; &nbsp;{{ temperatura }} °C</p></b></td>
            </tr>
            <tr>
                <td><a class="myLink" href="/graph/humid"><img class="MyImg" src="umidita.png" alt="humidIcon"></a></td>
                <td><b><p class="title">&nbsp; &nbsp;{{ umidita }} %</p></b></td>
            </tr>
            <tr>
                <td><a class="myLink" href="/graph/pression"><img class="MyImg" src="pressione.png" alt="pressiurIcon"></td>
                <td><b><p class="title">&nbsp; &nbsp;{{ pressione }} mBar</p></b></td>
            </tr>
        </table>
    </div>
    {{!-- <div class="containerLogo">
        <img src="condorTechLogo.png" id="myLogo" alt="" class="MyImg">
    </div> --}}
    <div class="myFooter">
        <table class="myTable">
            <tr>
                <td class="vuoto"></td>
                <td>
                    <img id="myLogo" src="Logo_condor2.jpg" alt="logo"> 
                </td>
                <td class="phrase">
                    <b>CoNdOrTech - 2020 - All right reserved®</b> 
                </td>
                <td class="instagram">
                    <!-- Qui andranno le immagini di Instagram, Facebook e Tweetter -->
                    <center><a href="https://www.instagram.com/condortech01/"><img class="insta" src="instagram.png" alt="instagram"></a></center>
                </td>
                <td class="facebook">
                    <a href="https://m.facebook.com/condor.ita.77"><img class="facebook" src="fb.png" alt="facebook"></a>
                </td>
                <td class="vuoto"></td>
            </tr>
        </table>
    </div>
</body>
</html>